/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* Variables */

:root {
    --color-blue-dark: #0e141e;
    --color-blue-gray: #38424e;
    --color-blue-secondary: #303944;
    --color-blue-third: #28303b;
    --color-green: #32c766;
}



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700');
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Source Code Pro', monospace;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.pointer::after{
    content: "";
}
.section-header{
    background: url('../img/bg.jpeg');
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-size: cover;
    background-position: 110px;
    height: 100vh;
    position: relative;
}
.section-header .cover{
    background-color: rgba(23, 31, 43, 0.48);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    z-index: 0;
}


.section-header .text{
    padding: 0px 70px;
    color: #fff;
    z-index: 100;
}

.section-header .text h1{
    color: #fff;
    font-size: 52px;
    letter-spacing: 4px;
    margin: 0;
    line-height: 75px;
}
.section-header .text h2{
    font-size: 70px;
    letter-spacing: 4px;
    margin: 0;
    width: 100%;
    max-width: 464px;
    line-height: 67px;
    position: relative;
}
.section-header .text h4{
    margin: 0;
    font-size: 24px;
    color: var(--color-green);
    margin-bottom: 5px;
}

.container{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.btn{
    padding: 15px;  
    text-decoration: none;
    border-radius: 10px;
    color: black;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 22px;
    width: 200px;
}
.btn.btn-white{
    background-color: #fff;
    color: black !important;
}

.section-description{
    background-color:  var(--color-blue-dark);
    color: #fff;
    padding: 70px;
}
.section-description.two{
    background-color:  var(--color-blue-gray);
}
.section-description.third{
    background-color:  var(--color-blue-secondary);
}
.section-description.four{
    background-color:  var(--color-blue-third);
}

.section-description .title{
    font-size: 35px;
    width: 100%;
    max-width: 400px;
    line-height: 36px;
    letter-spacing: 5px;
    position: relative;
}
.section-description .title.center{
    max-width: 270px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title .pointer{
    width: 15px;
    height: 35px;
    background-color: var(--color-green);
    position: absolute;
    right: -5px;
    top: 35px;
}
.pointer.pointer-header{
    width: 18px;
    height: 45px;
    background-color: var(--color-green);
    position: absolute;
    right: -17px;
    top: 82px;
}
.title .pointer.pointer-share{
    right: 70px;
    top: -3px;
}

.title .pointer.pointer-startup{
    right: 200px;
    top: 38px;
}

.title .pointer.pointer-social{
    right: 0;
}

.section-description .text{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section-description .text p{
    font-weight: 300;
    width: 45%;
}
.section-description .text p a{
    color: var(--color-green);
}
.section-description .btn{
    margin-top: 30px;
}
.section-description .social-content{
    text-align: center;
    font-size: 44px;
}
.section-description .social-content a{
    color: var(--color-green);
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
    .section-header{
        background: var(--color-blue-gray);
    }

    .section-header .text {
        padding: 0px 20px;
    }
    .section-header .text h1 {
        font-size: 30px;
        line-height: 60px;
    }

    .section-header .text h2 {
        font-size: 35px;
        line-height: 37px;
    }

    .section-description {
        padding: 25px;
    }
    
    .section-description .text{
        flex-direction: column;
    }
    .section-description .text p {
        width: 100%;
    }
    .title .pointer{
        display: none !important;
    }
    .section-description .social-content{
        font-size: 26px;
    }
    
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
